{
   "debug":false,
   "FFMPEG_PATH":"D:/ffmpeg-20190529-d903c09-win64-static/bin/ffmpeg.exe",
   "input":{
      "type":"twitch-vod",
      "streamId":"905126438",
      "inputOptions":[
         "-re",
         "-v",
         "verbose",
         "-stream_loop",
         "-1"
      ]
   },
   "output":{
      "outputUrl":"udp://239.101.101.1:1234?ttl=1&pkt_size=1316",
      "outputOptions":[
         "-c:v",
         "copy",
         "-c:a",
         "copy",
         "-metadata",
         "service_provider=\"RSNET\"",
         "-metadata",
         "service_name=\"WTCR-League\"",
         "-f",
         "mpegts"
      ]
   }
}